<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="pretty" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="no.nav" level="INFO"/>
    <logger name="no.nav.emottak" level="${EMOTTAK_LOGGING_LEVEL:-DEBUG}"/>

    <root level="INFO">
        <appender-ref ref="pretty"/>
    </root>
</configuration>
