<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %cyan(%d{ISO8601}) %highlight(%-5level) %yellow(%class{0}:%line) - %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <logger name="no.nav" level="INFO"/>
    <logger name="no.nav" level="INFO"/>
    <logger name="org.apache.xml" level="TRACE"/>
    <logger name="org.bouncycastle" level="TRACE"/>
    <logger name="sun.security" level="TRACE"/>

    <root level="INFO">
            <appender-ref ref="LOCAL"/>
    </root>
</configuration>